@model AcleUrbanGardens.Web.Models.DeleteCategoryViewModel

@{
    ViewBag.Title = Model.Category.Name;
    ViewBag.ErrorMessage = "You cannot delete the category " + Model.Category.Name;
}

<h1 class="warning">@ViewBag.ErrorMessage</h1>
<p>The Category @Model.Category.Name is a reserved Category. It is used as a default category to prevent products being deleted from the system if a Category is accidently deleted when products are still atached to the Category.</p>
<div>
    <h2>@ViewBag.Title Detail</h2>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Category.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedByUsername)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedByUsername)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category.CreateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.CreateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdatedByUsername)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedByUsername)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category.UpdateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.UpdateDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
<div>
    <h3>Products that are included in the @Model.Category.Name Category</h3>
    @if (Model.Products.Count > 0)
    {
        <ul>
            @foreach(var product in Model.Products)
            {
                <li>@Html.ActionLink(@product.Name, "Details", "Product", new { Id = @product.Id }, null)</li>
            }
        </ul>
    }
    else
    {
        <ul>
            <li>There are no Products in the @Model.Category.Name category.</li>
        </ul>
    }
</div>

